<!DOCTYPE html>
{% load static %}
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <META NAME="ROBOTS" CONTENT="NOINDEX, NOFOLLOW">

    <link href="{% static "website/css/jquery-ui.min.css" %}" rel="stylesheet">
    <link href="{% static "website/bootstrap/css/bootstrap.min.css" %}" rel="stylesheet">
    <link href="{% static "website/css/style.css" %}" rel="stylesheet">

    <script type='text/javascript' src='{% static 'website/js/jquery-2.2.1.min.js' %}'></script>
    <script type='text/javascript' src='{% static 'website/bootstrap/js/bootstrap.min.js' %}'></script>
    <script type='text/javascript' src='{% static 'website/js/jquery-ui.min.js' %}'></script>
    <script type='text/javascript' src='{% static 'website/js/underscore-min.js' %}'></script>        
    <script type='text/javascript' src='{% static 'website/js/simpleUpload.min.js' %}'></script>        

    <script type='text/javascript' src='{% static 'website/scripts.js' %}'></script>

    <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,300' rel='stylesheet' type='text/css'>
    <title>dfdf</title>
</head>

<body>
    <label class="btn btn-default btn-file">
        Browse <input type="file" style="display: none; left: 50%; top: 50%; width: 20%; height: 20%;">
    </label>

    <div class="output">
        Output
    </div>
    <div class="output-text">

    </div>
    <div class="lyrics">
        Lyrics
    </div>
    <div class="lyrics-text">
        
    </div>
</body>

</html>